.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FCFCFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button {
  background-color: #009B72;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
button:hover {
  background-color: #007B5F;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #009B72;
}
.sections {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
  li {
    list-style-type: none;
    text-align: center;
    padding: 0 20px;
    }
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
}
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px, solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px #000001;
  background-color: #f9f9f9;
  width: 50%;
  input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.headline-button {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  button {
    width: 10%;
  }
}
.section {
  margin: 20px;
  padding: 20px;
}
.plants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plant-card {
  width: 25%;
  box-shadow: 0 6px 15px #F0DFAD;
  padding: 20px;
  margin: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  img {
    width: 30%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plant-characteristics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 15px 0 15px 0;
  p {
    margin: 7px;
  }
}
.plant-progress {
  background-color: #1E555C;
  color: white;
  border-radius: 8px;
  padding: 12px;
  margin: 10px;
  width: 90%;
  box-shadow: 0 2px 5px #000001;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.water-cylinder {
  width: 20%;
  height: 100%;
  margin: 10px;
}
.cylinder-background {
  height: 100%;
  border-radius: 15px;
  border: 2px solid #333;
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
}
.water-level {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #9BF3F0;
  border-radius: 15px 15px 0 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
